@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Custom Properties */
:root {
  --website-bg-color: #f1f5f9;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--website-bg-color);
  height: 100vh;
}

#root {
  height: 100%;
}

html {
  overflow-y: scroll;
}
