@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Custom Properties */
:root {
  --website-bg-color: #e2e8f0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--website-bg-color);
  height: 100vh;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#root {
  height: 100%;
}

.scroll-y {
  overflow-y: scroll;
}
